@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Calibri;
}

:root{
    --Amarelo:#FFE6B7;
    --Vermelho:#C62C24;
    --Cinza:#B6B7BC;
    --Azul:#7C89B6;
}

body{
    background-color: var(--Azul);
}

main{
    width: 800px;
    height: 350px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 5%;
    box-shadow:1px 1px 10px black;
}

header{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    text-transform: uppercase;
    font-style: italic;
    
    
}

header > h1{
    border: 1px solid black;
    width: 350px;
    height: 50px;
    padding: 5px;
    background-color: var(--Cinza);
    color: var(--Azul);
    display: inline;
    text-shadow: 1px 1px 3px var(--Amarelo);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

header > h1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
div{
    height: 340px;
    overflow-x: auto;
    
    
}

div::-webkit-scrollbar{
    
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    box-shadow:1px 1px 10px black;
   
    
   
}

table > thead > tr > th{
    position: sticky;
    top: -1px;
    
    border: 1px solid black;
    padding: 10px;
    font-style: italic;
    text-transform: uppercase;
    background-color: var(--Cinza);
    color: var(--Azul);
    text-shadow: 1px 1px 3px var(--Amarelo);
    
    
    
}
table > tbody > tr > td{
    border: 1px solid black;
    padding: 10px;
    
}

table > tbody > tr:nth-child(2n){
    background-color: var(--Azul);
}

.data{
    text-align: left;
    width: 100px;
}

.nome{
    text-align: center;
    width: 100px;
}

.diadasemana{
    text-align: right;
    
}

.fds{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    font-style: italic;
    text-transform: uppercase;
    background-color: var(--Cinza);
    color: var(--Azul);
    text-shadow: 1px 1px 3px var(--Amarelo);
}

aside > h1{
    background-color: rgba(255, 255, 255, 0.366);
    width: 180px;
    box-shadow:1px 1px 10px black;
}

aside{
    position: relative;
    left: 400px;
    bottom: 330px;
    
    width: 300px;
    
    border: 1px solid black;
    padding: 10px;
    box-shadow: 1px 1px 3px black;
    height: 309px;
    background-image: url(lixo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
}

ol > li{
    list-style-position: inside;
    background-color: rgba(255, 255, 255, 0.366);
    width: 180px;
    font-weight: bolder;
    
}
footer{
    margin-top: 3%;
}

footer > p {
    text-align: center;
}
footer > p > a{
    color: black;
    text-decoration: none;
    
}
footer > p.red{
    
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
    
}

footer > p.red:hover, a:hover{
    padding-left: 5px;
    color: var(--Vermelho);
    box-sizing: border-box;
    cursor: pointer;
}

